<!----------RODAPÉ----------->
<footer class="o-box-full footer">
  <div class="o-container row">

<!----------CONTATO----------->
    <div class="col-sm-12 col-md-4 col-lg-2">
      <ul>
        <li>some content</li>
        <li>some content</li>
        <li>some content</li>
      </ul>
    </div>
      <!----------SOCIAL----------->
      <div class="col-sm-12 col-md-4 col-lg-2">
        <ul>
        <li><i class="fa fa-facebook" aria-hidden="true"><span> Facebook</span></i></li>
        <li><i class="fa fa-facebook-messenger" aria-hidden="true"><span> Messenger</span></i></li>
        <li><i class="fa fa-whatsapp" aria-hidden="true"><span> WhatsApp</span></i></li>
      </ul>
      </div>
    
    <div class="col-sm-12 col-md-4 col-lg-2">
      <ul>
        <li>some content</li>
        <li>some content</li>
        <li>some content</li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-2 assine">
      
        <p>Inscreva-se</p>
        <input class="input-email" type="email" value="" name="EMAIL" class="required email" placeholder="e-mail"><input type="submit" value="Ok" name="subscribe" class="button c-button c-tres c-full">
      
    </div>

    <div class="col-sm-12 col-md-4 col-lg-2">
      <ul>
        <li>some content</li>
        <li>some content</li>
        <li>some content</li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-2">
      <ul>
        <li>some content</li>
        <li>some content</li>
        <li>some content</li>
      </ul>
    </div>

  </div>
