<!---------------HEADER TIPO 1------------------>
<div class="header-full fixed">
<!-------------CABEÇALHO--------------->
<div class="header">
  
  <div class="logo">
    <img src="images/logo.png">
  </div>



  <div class="social-nav">
        <img src="images/icones-site-01.png">
        <img src="images/icones-site-02.png">
        <img src="images/icones-site-03.png">
  </div>



  <div>
  <nav class="header-nav ">
    <ul class="header-ul">
      <li class="header-link"><a href="#">Quem somos</a></li>
      <li class="header-link"><a href="#">Fale conosco</a></li>
    </ul>
  </nav>
  </div>
  
  

  
  <div>
  <nav class="header-nav">
    <ul class="header-ul">
      <li class="header-link"><button>entrar</button></li>
    </ul>
  </nav>
  </div>
    


  </div>
</div>
<!------fim do header------->





