<!---------------PACOTES------------------>
<div class="pacotes">
  <div class=""> 
    <div class="row">


<!----------PACOTE TAL UM----------->
<div class="pacote row pacote-1 ">

    <img class="imgg col-sm-4" src="images/smartphone-hand-2.png">
    <div class="col-sm-8 div-1">
      <h3 class="title">Neque porro quisquam est qui dolorem</h3>
      <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at porttitor nibh. Fusce eu turpis in enim egestas porttitor. Nullam tempor urna ut ultricies vulputate. Duis blandit, lectus et malesuada porta, urna nisi varius velit, bibendum aliquet felis purus sit amet sem. Nunc id orci egestas, auctor magna non, congue leo. Duis ipsum ligula, laoreet eget felis ac, dictum bibendum leo.<br><span class="paragraph u-text-loud">Maecenas eget ante suscipit, tristique dolor quis, pellentesque nibh. </span>
      </p>
    </div>
    
      

</div><!-----fim de pacote tal dois---->


<!----------PACOTE TAL DOIS----------->
<div class="pacote row pacote-2 u-margin-top">
  <img class="imgaa col-sm-4" src="images/celulares-cena-download-2.png">
  <div class="texto col-sm-8 div-2">
    <h3 class="title">Neque porro quisquam est qui dolorem</h3>
      <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at porttitor nibh. Fusce eu turpis in enim egestas porttitor. Nullam tempor urna ut ultricies vulputate. Duis blandit, lectus et malesuada porta, urna nisi varius velit, bibendum aliquet felis purus sit amet sem. Nunc id orci egestas, auctor magna non, congue leo. Duis ipsum ligula, laoreet eget felis ac, dictum bibendum leo.<br><span class="paragraph u-text-loud">Maecenas eget ante suscipit, tristique dolor quis, pellentesque nibh. </span>
      </p>
      
        <img class="button baixar" src="images/icones-site-04.png">
      
        <img class="button baixar" src="images/icones-site-05.png">
      
  </div>
</div><!-----fim de pacote tal dois---->



<!----------PACOTE TAL UM----------->
<div class="pacote pacote-1 u-margin-top">
  <div class="texto div-3">
    <h3 class="title">Neque porro quisquam est qui dolorem</h3>
      <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at porttitor nibh. Fusce eu turpis in enim egestas porttitor. Nullam tempor urna ut ultricies vulputate. Duis blandit, lectus et malesuada porta, urna nisi varius velit, bibendum aliquet felis purus sit amet sem. Nunc id orci egestas, auctor magna non, congue leo. Duis ipsum ligula, laoreet eget felis ac, dictum bibendum leo.<br><span class="paragraph u-text-loud">Maecenas eget ante suscipit, tristique dolor quis, pellentesque nibh. </span>
      </p>
      
  </div>
</div><!-----fim de pacote tal dois---->











<!----------PACOTE TAL UM----------->
<div class="pacote row pacote-4 u-margin-top u-padding-top">

    <img class="imgee col-sm-7" src="images/garoto-2.png">
    <div class="col-sm-5 div-4">
      <!----------FORMULARIO DE CONTATO----------->
    <div class="form">
      <h5 class="h-white">Fale conosco</h5>
      <form>

          <input type="text" name="nome" id="name" required placeholder="Nome e sobrenome">
          
          <input type="email" name="email" id="email" required placeholder="E-mail">

          <input type="tel" name="tel" id="email" required placeholder="Telefone">
          <label class="label-contato" for="comments">Motivo do contato</label>
          <textarea  maxlength="300" name="mensagem" id="comments" placeholder="O que aconteceu?"></textarea>
          <input type="submit" value="Enviar" class="c-button c-p c-dois u-float-right ">
      </form>
    </div>
    </div>
    
      

</div><!-----fim de pacote tal dois---->




</div>
</div>
</div><!-----fim de pacotes---->