/*===================================================
   #LIST-INLINE
===================================================*/

.o-list {
  margin: 3rem; 
  & .inline > li {
  float: left;
  margin-right: 3rem; 
    & :last-of-type {
      margin-right: 0; }
    }
  & .unstyled {
  padding: 0;
  list-style: none; }  
}


