/*===================================================
    BLOQUOTES
===================================================*/


.blockquote-footer {
  margin-top: .3rem;
  color: $color-n-darkgray; }
.blockquote-highlight {
  border-radius:.3rem;
  border-left: 0.5rem solid $color-b-1; }