/*===================================================
    Checkbox, Radio button and Select box
===================================================*/

.c-control-box {
  display: inline-block;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 1rem;
  margin: .5rem;
  border: 1px solid rgb(255, 230, 230);
}
.c-control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}
.c-control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.c-control__indicator {
  border:1px solid rgb(202, 196, 198);
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background: rgb(223, 223, 236);
}
.c-control--radio .c-control__indicator {
  border-radius: 50%;
}
.c-control:hover input ~ .c-control__indicator,
.c-control input:focus ~ .c-control__indicator {
  background: rgb(255, 102, 102);
}
.c-control input:checked ~ .c-control__indicator {
  background: rgb(255, 102, 102);
  border:1px solid rgb(255, 102, 102);
}
.c-control:hover input:not([disabled]):checked ~ .c-control__indicator,
.c-control input:checked:focus ~ .c-control__indicator {
  background: rgb(102, 102, 163);
  border:1px solid rgb(102, 102, 163);
}
.c-control input:disabled ~ .c-control__indicator {
  background: rgb(202, 196, 198);
  opacity: 0.6;
  pointer-events: none;border:1px solid rgb(202, 196, 198);
}
.c-control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.c-control input:checked ~ .c-control__indicator:after {
  display: block;
}
.c-control--checkbox .c-control__indicator:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.c-control--checkbox input:disabled ~ .c-control__indicator:after {
  border-color: rgb(122, 112, 116);
}
.c-control--radio .c-control__indicator:after {
  left: 5px;
  top: 5px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
}
.c-control--radio input:disabled ~ .c-control__indicator:after {
  background: rgb(122, 112, 116);
}
.c-select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.c-select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 3px 10px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #fff;
  color:rgb(15, 11, 12);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgb(202, 196, 198);
}
.c-select select:hover ~ option{
  background: #fff;
}
.c-select select::-ms-expand {
  display: none;
}
.c-select select:hover,
.c-select select:focus {
  color: #000;
  background: rgb(223, 223, 236);
}
.c-select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.c-select__arrow {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.c-select select:hover ~ .c-select__arrow,
.c-select select:focus ~ .c-select__arrow {
  border-top-color: #000;
}
.c-select select:disabled ~ .c-select__arrow {
  border-top-color: #ccc;
}

