/*===================================================
   TYPOGRAPHY
===================================================*/

h1 {font-size: 3.5rem; }
h2 {font-size: 3rem; }
h3 {font-size: 2.5rem; }
h4 {font-size: 2rem; }
h5 {font-size: 1.5rem; }
h6 {font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
  font-weight: 500;
  line-height: 1.2;
  color: $color-n-almostblack;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: $color-u-2-60;
  display: block;
  margin-top: -0.25rem;
}
p {
  margin: 0 0 3rem 0;
  font-size: 1rem;
  line-height: 1.6;
  font-weight:400;}
p small{
  font-weight:300;
  color:$color-n-gray;
}

abbr,
abbr[title] {
  text-decoration: none;
  border-bottom: .1rem dotted $color-b-2;
  cursor: help; }


/*------ Code-like elements----*/
code, kbd, samp, pre {
    color: $color-b-1;
    font-family: "Operator Mono", Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-style: normal;
    padding:.1rem;
    //faz o código não sair de dentro do pre
    white-space: pre-line;
  }

pre {
    word-wrap: normal;
    padding:.2rem .6rem;
    background-color:lighten($color-n-gray, 30%);
    border-radius: $base-radius;
}

   
/*===================================================
    Misc
===================================================*/
hr {
  margin: 3.5rem auto;
  width: 90%;
  height: 2px;
  background-color: $color-b-2;
  border: none; 
&.small {
    width: 45%; }
}

